/* CSS declarations go here */

* {
    color: black;
}

.login-link-text{
    font-family: sans-serif;
    color:#FFFFFF;
    font-size: 26px;
}


body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: url("/images/image.png");
  background-size: cover;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
#login-buttons {
  display: block;
  color: white;
}

#login-buttons a {
    text-decoration: none;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
  
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}

input {
    font-size:30px;
    width: 40px;
}